<breadcrumbs label="resCtrl.resId"></breadcrumbs>
<div id="detail-view">
  <div ng-hide="resCtrl.showId" class="btn-group pull-right" ng-controller="ResActCtrl as actCtrl" ng-init="actCtrl.init('ActionPlan', resCtrl.resId)">
    <a ng-show="actCtrl.hasActivate()" class="btn btn-primary" href ng-click="actCtrl.activate()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
    <a class="btn btn-danger" href ng-click="actCtrl.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
  </div>
  <h4>Action Plan {{resCtrl.res.Id}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="res_id" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="res_id" ng-model="resCtrl.res.Id"/>
        </div>
      </div>
    </div>
    <section ng-controller="PanelCtrl as panelCtrl">
      <ul class="nav nav-tabs marginBottom">
        <li ng-class="{'active':panelCtrl.isActive($index)}" ng-repeat="rate_slot in resCtrl.res.ActionPlan">
          <a href ng-click="panelCtrl.select($index)">
            <button ng-if="$index > 0" ng-click="panelCtrl.remove(resCtrl.res.ActionPlan, $index, $event)" class="close closeTab" type="button" >×</button>
            ActionPlan {{$index}}
          </a>
        </li>
        <li>
          <a href ng-click="panelCtrl.add(resCtrl.res.ActionPlan)">+</a>
        </li>
      </ul>
      <div class="form-group">
        <label for="actionId" class="col-sm-2 control-label">Action Id</label>
        <div class="col-sm-2" ng-controller="TypeaheadCtrl as tyaCtrl">
          <input id="actionId" type="text" ng-model="resCtrl.res.ActionPlan[panelCtrl.index].ActionsId" typeahead="id for id in tyaCtrl.getIds('Action', $viewValue)" typeahead-loading="loadingActionIds" class="form-control" typeahead-wait-ms="500">
          <i ng-show="loadingActionIds" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary btn-sm" href="#/action/{{resCtrl.res.ActionPlan[panelCtrl.index].ActionsId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a class="btn btn-primary btn-sm" href="#/action"><span class="glyphicon glyphicon-star"></span> New</a>
        </div>
      </div>
      <div class="form-group">
        <label for="tmid" class="col-sm-2 control-label">Timing Id</label>
        <div class="col-sm-2" ng-controller="TypeaheadCtrl as tyaCtrl">
          <input id="tmid" type="text" ng-model="resCtrl.res.ActionPlan[panelCtrl.index].TimingId" typeahead="id for id in tyaCtrl.getIds('Timing', $viewValue)" typeahead-loading="loadingTimingIds" class="form-control" typeahead-wait-ms="500">
          <i ng-show="loadingTimingIds" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary btn-sm" href="#/timing/{{resCtrl.res.ActionPlan[panelCtrl.index].TimingId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a class="btn btn-primary btn-sm" href="#/timing"><span class="glyphicon glyphicon-star"></span> New</a>
        </div>
      </div>
      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Weight</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="weight" ng-model="resCtrl.res.ActionPlan[panelCtrl.index].Weight"/>
        </div>
      </div>
    </section>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
      <back></back>
    </div>
  </form>
</div>
