<breadcrumbs label="resCtrl.resId"></breadcrumbs>
<div id="detail-view">
  <div ng-hide="resCtrl.showId" class="btn-group pull-right" ng-controller="ResActCtrl as actCtrl" ng-init="actCtrl.init('Action', resCtrl.resId)">
    <a ng-show="actCtrl.hasActivate()" class="btn btn-primary" href ng-click="actCtrl.activate()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
    <a class="btn btn-danger" href ng-click="actCtrl.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
  </div>
  <h4>Action {{resCtrl.res.ActionsId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="res_id" class="col-sm-2 control-label">ActionsId</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="res_id" ng-model="resCtrl.res.ActionsId"/>
        </div>
      </div>
    </div>
    <section  ng-controller="PanelCtrl as panelCtrl">
      <ul class="nav nav-tabs marginBottom">
        <li ng-class="{'active':panelCtrl.isActive($index)}" ng-repeat="rate_slot in resCtrl.res.Actions">
          <a href ng-click="panelCtrl.select($index)">
            <button type="button" ng-if="$index > 0" ng-click="panelCtrl.remove(resCtrl.res.Actions, $index, $event)" class="close closeTab">×</button>
            Action {{$index}}
          </a>
        </li>
        <li>
          <a href ng-click="panelCtrl.add(resCtrl.res.Actions)">+</a>
        </li>
      </ul>
      <div class="form-group">
        <label for="balancetype" class="col-sm-2 control-label">BalanceType</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="balancetype" ng-model="resCtrl.res.Actions[panelCtrl.index].BalanceType"/>
        </div>
      </div>
      <div class="form-group">
        <label for="balanceweight" class="col-sm-2 control-label">BalanceWeight</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="balanceweight" ng-model="resCtrl.res.Actions[panelCtrl.index].BalanceWeight"/>
        </div>
      </div>
      <div class="form-group">
        <label for="destid" class="col-sm-2 control-label">Destination Id</label>
        <div class="col-sm-2" ng-controller="TypeaheadCtrl as tyaCtrl">
          <input id="destid" type="text" ng-model="resCtrl.res.Actions[panelCtrl.index].DestinationId" typeahead="id for id in tyaCtrl.getIds('Destination', $viewValue)" typeahead-loading="loadingDestinationIds" class="form-control" typeahead-wait-ms="500">
          <i ng-show="loadingDestinationIds" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="btn-group">
          <a ng-hide="resCtrl.res.Actions[panelCtrl.index].DestinationId=='*any'" class="btn btn-primary btn-sm" href="#/destination/{{resCtrl.res.Actions[panelCtrl.index].DestinationId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a class="btn btn-primary btn-sm" href="#/destination"><span class="glyphicon glyphicon-star"></span> New</a>
        </div>
      </div>
      <div class="form-group">
        <label for="direction" class="col-sm-2 control-label">Direction</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="direction" ng-model="resCtrl.res.Actions[panelCtrl.index].Direction"/>
        </div>
      </div>
      <div class="form-group">
        <label for="expirationtime" class="col-sm-2 control-label">ExpiryTime</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="expirationtime" ng-model="resCtrl.res.Actions[panelCtrl.index].ExpiryTime"/>
        </div>
      </div>
      <div class="form-group">
        <label for="extraparameters" class="col-sm-2 control-label">ExtraParameters</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="extraparameters" ng-model="resCtrl.res.Actions[panelCtrl.index].ExtraParameters"/>
        </div>
      </div>
      <div class="form-group">
        <label for="identifier" class="col-sm-2 control-label">Identifier</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="identifier" ng-model="resCtrl.res.Actions[panelCtrl.index].Identifier"/>
        </div>
      </div>
      <div class="form-group">
        <label for="ratingsubject" class="col-sm-2 control-label">RatingSubject</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="ratingsubject" ng-model="resCtrl.res.Actions[panelCtrl.index].RatingSubject"/>
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="category" ng-model="resCtrl.res.Actions[panelCtrl.index].Category"/>
        </div>
      </div>
      <div class="form-group">
        <label for="sharedgroup" class="col-sm-2 control-label">SharedGroup</label>
        <div class="col-sm-2" ng-controller="TypeaheadCtrl as tyaCtrl">
          <input id="sharedgroup" type="text" ng-model="resCtrl.res.Actions[panelCtrl.index].SharedGroupId" typeahead="id for id in tyaCtrl.getIds('SharedGroup', $viewValue)" typeahead-loading="loadingSharedGroupIds" class="form-control" typeahead-wait-ms="500">
          <i ng-show="loadingSharedGroupIds" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="btn-group">
          <a ng-hide="resCtrl.res.Actions[panelCtrl.index].SharedGroupId==''" class="btn btn-primary btn-sm" href="#/sharedgroup/{{resCtrl.res.Actions[panelCtrl.index].SharedGroupId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a class="btn btn-primary btn-sm" href="#/sharedgroup"><span class="glyphicon glyphicon-star"></span> New</a>
        </div>
      </div>
      <div class="form-group">
        <label for="units" class="col-sm-2 control-label">Units</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="units" ng-model="resCtrl.res.Actions[panelCtrl.index].Units"/>
        </div>
      </div>
      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Weight</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="weight" ng-model="resCtrl.res.Actions[panelCtrl.index].Weight"/>
        </div>
      </div>
    </section>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
      <back></back>
    </div>
  </form>
</div>
