<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Mem Stats</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <tr>
            <td style="color:steelblue">Current</td>
            <td>{{dashCtrl.memstats.memstat}} Kb</td>
          </tr> 
          <tr>
            <td style="color:lightblue">Footprint</td>
            <td>{{dashCtrl.memstats.footprint}} Kb</td>
          </tr> 
          </table>              
          <div id="memChart" style="width:100%;height:200px"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Cache Stats</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <tr>
            <td>Actions</td>
            <td>{{dashCtrl.cachestats.Actions}}</td>
          </tr>    
          <tr>
            <td>AccountAliases</td>
            <td>{{dashCtrl.cachestats.AccountAliases}}</td>
          </tr> 
          <tr>
            <td>DerivedChargers</td>
            <td>{{dashCtrl.cachestats.DerivedChargers}}</td>
          </tr> 
          <tr>
            <td>Destinations</td>
            <td>{{dashCtrl.cachestats.Destinations}}</td>
          </tr> 
          <tr>
            <td>RatingAliases</td>
            <td>{{dashCtrl.cachestats.RatingAliases}}</td>
          </tr> 
          <tr>
            <td>RatingPlans</td>
            <td>{{dashCtrl.cachestats.RatingPlans}}</td>
          </tr> 
          <tr>
            <td>RatingProfiles</td>
            <td>{{dashCtrl.cachestats.RatingProfiles}}</td>
          </tr> 
          <tr>
            <td>SharedGroups</td>
            <td>{{dashCtrl.cachestats.SharedGroups}}</td>
          </tr> 
          </table>
          <div id="cacheChart" style="width:100%;height:100px"></div>          
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-link" href ng-click="dashCtrl.reloadCache()"><span class="glyphicon glyphicon-refresh"></span> Reload cache</a>
        <a class="btn btn-link" href ng-click="dashCtrl.reloadScheduler()"><span class="glyphicon glyphicon-time"></span> Reload scheduler</a>
      </div>
    </div>
  </div>
</div>
