<h3>Export CDRs</h3>


<form class="form" role="form" method="POST" action="{{expCdrsCtrl.getPostUrl()}}">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="CdrFormat">Cdr Format</label>
    <div class="col-sm-3"> <input type="text" class="form-control" name="CdrFormat" id="CdrFormat"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="FieldSeparator">Field Separator</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="FieldSeparator" id="FieldSeparator"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ExportId">Export Id</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="ExportId" id="ExportId"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ExportFileName">Export File Name</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="ExportFileName" id="ExportFileName"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ExportTemplate">Export Template</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="ExportTemplate" id="ExportTemplate"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="DataUsageMultiplyFactor">Data Usage Multiply Factor</label>
    <div class="col-sm-3"><input type="number" class="form-control" name="DataUsageMultiplyFactor" id="DataUsageMultiplyFactor"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="CostMultiplyFactor">Cost Multiply Factor</label>
    <div class="col-sm-3"><input type="number" class="form-control" name="CostMultiplyFactor" id="CostMultiplyFactor"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="CostShiftDigits">Cost Shift Digits</label>
    <div class="col-sm-3"><input type="number" class="form-control" name="CostShiftDigits" id="CostShiftDigits"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="RoundDecimals">Round Decimals</label>
    <div class="col-sm-3"><input type="number" class="form-control" name="RoundDecimals" id="RoundDecimals"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="MaskDestinationId">Mask Destination Id</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="MaskDestinationId" id="MaskDestinationId"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="MaskLength">Mask Length</label>
    <div class="col-sm-3"><input type="number" class="form-control" name="MaskLength" id="MaskLength"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="CgrIds">CgrIds</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="CgrIds" id="CgrIds"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="MediationRunIds">Mediation Run Ids</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="MediationRunIds" id="MediationRunIds"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="TORs">TORs</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="TORs" id="TORs"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="CdrHosts">Cdr Hosts</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="CdrHosts" id="CdrHosts"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="CdrSources">Cdr Sources</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="CdrSources" id="CdrSources"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ReqTypes">ReqTypes</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="ReqTypes" id="ReqTypes"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="Directions">Directions</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="Directions" id="Directions"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="Tenants">Tenants</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="Tenants" id="Tenants"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="Categories">Categories</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="Categories" id="Categories"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="Accounts">Accounts</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="Accounts" id="Accounts"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="Subjects">Subjects</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="Subjects" id="Subjects"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="DestinationPrefixes">Destination Prefixes</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="DestinationPrefixes" id="DestinationPrefixes"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="RatedAccounts">Rated Accounts</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="RatedAccounts" id="RatedAccounts"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="RatedSubjects">Rated Subjects</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="RatedSubjects" id="RatedSubjects"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="OrderIdStart">Order Id Start</label>
    <div class="col-sm-3"><input type="number" class="form-control" name="OrderIdStart" id="OrderIdStart"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="OrderIdEnd">Order Id End</label>
    <div class="col-sm-3"><input type="number" class="form-control" name="OrderIdEnd" id="OrderIdEnd"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="TimeStart">Time Start</label>
    <div class="col-sm-3"><input type="text" class="form-control" name="TimeStart" id="TimeStart"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="TimeEnd">Time End</label>
    <div class="col-sm-3"><input type="text" class="form-control"class="form-control" name="TimeEnd" id="TimeEnd"></div>
  </div>
  <div class="col-sm-12"></div><!-- devider -->
  <div class="col-sm-offset-2 col-sm-3">
    <label class="control-label" for="SkipErrors">
      <input name="SkipErrors" id="SkipErrors" type="checkbox"> Skip Errors
    </label>
  </div>
  <div class="col-sm-3">
    <label class="control-label" for="SkupRated">
      <input name="SkupRated" id="SkupRated" type="checkbox"> Skip Rated
    </label>
  </div>
  <div class="col-sm-3">
    <label class="control-label" for="SuppressCgrIds">
      <input name="SuppressCgrIds" id="SuppressCgrIds" type="checkbox"> Suppress Cgr Ids
    </label>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-10">
      <button type="submit" class="btn btn-default">Export</button>
    </div>
  </div>
</form>
