<h3>Import zipped CSV files</h3>
<form role="form" method="POST" action="/import/" enctype="multipart/form-data">
  <div class="form-group">
    <label for="tpid">TP Id</label>
    <input type="text" class="form-control" name="tpid" id="tpid" placeholder="Enter TP id here">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Import zip file</label>
    <input type="file" name="file" id="exampleInputFile">
    <p class="help-block">Zip file ontainingone or moe csv files.</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

