<div ng-init="resCtrl.init({}, 'Timing')"></div>
<breadcrumbs label="resCtrl.resId"></breadcrumbs>
<div id="detail-view">
  <div ng-hide="resCtrl.showId" class="btn-group pull-right" ng-controller="ResActCtrl as actCtrl" ng-init="actCtrl.init(resCtrl.name, resCtrl.resId)">
    <a ng-show="actCtrl.hasActivate()" class="btn btn-primary" href ng-click="actCtrl.activate()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
    <a class="btn btn-danger" href ng-click="actCtrl.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
  </div>
  <h4>Timing {{resCtrl.res.TimingId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="res_id" class="col-sm-2 control-label">TimingId</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="res_id" ng-model="resCtrl.res.TimingId"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="years" class="col-sm-2 control-label">Years</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="years" ng-model="resCtrl.res.Years"/>
      </div>
    </div>
    <div class="form-group">
      <label for="months" class="col-sm-2 control-label">Months</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="months" ng-model="resCtrl.res.Months"/>
      </div>
    </div>
    <div class="form-group">
      <label for="monthdays" class="col-sm-2 control-label">Month days</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="monthdays" ng-model="resCtrl.res.MonthDays"/>
      </div>
    </div>
    <div class="form-group">
      <label for="weekdays" class="col-sm-2 control-label">Week days</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="weekdays" ng-model="resCtrl.res.WeekDays"/>
      </div>
    </div>
    <div class="form-group">
      <label for="time" class="col-sm-2 control-label">Time</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="time" ng-model="resCtrl.res.Time"/>
      </div>
    </div>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
      <back></back>
    </div>
  </form>
</div>
