body {
    padding-top: 70px;
    padding-bottom: 30px;
}

#brand {
    color: #87b14c;
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}
.marginBottom {
    margin-bottom :1px !important;
}
