body {
    padding-top: 70px;
    padding-bottom: 30px;
}

#brand {
    color: #87b14c;
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}
.marginBottom {
    margin-bottom :1px !important;
}

#main-search {
    margin-bottom: 30px;
}

#main-search input {
    width: 60%;
}

#main-alert {
    position: fixed;
    z-index: 999999;
    top: 12px;
    right: 12px;
    display: block;
}

.slow-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.slow-show-hide.ng-hide {
    opacity:0;
}

.resource-button {
    margin-right: 5px;
    margin-bottom: 5px;
}
