<breadcrumbs label="resCtrl.resId"></breadcrumbs>
<div id="detail-view">
  <div ng-hide="resCtrl.showId" class="btn-group pull-right" ng-controller="ResActCtrl as actCtrl" ng-init="actCtrl.init('AccountAction', resCtrl.resId)">
    <a ng-show="actCtrl.hasActivate()" class="btn btn-primary" href ng-click="actCtrl.activate()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
    <a class="btn btn-danger" href ng-click="actCtrl.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
  </div>
  <h4>Account Actions {{resCtrl.resId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="Direction" class="col-sm-2 control-label">Direction</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="Direction" placeholder="Short description" ng-model="resCtrl.res.Direction"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="Tenant" class="col-sm-2 control-label">Tenant</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="Tenant" ng-model="resCtrl.res.Tenant"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="Account" class="col-sm-2 control-label">Account</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="Account" ng-model="resCtrl.res.Account"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="actionplan" class="col-sm-2 control-label">Action Plan Id</label>
      <div class="col-sm-2" ng-controller="TypeaheadCtrl as tyaCtrl">
        <input id="actionplan" type="text" ng-model="resCtrl.res.ActionPlanId" typeahead="id for id in tyaCtrl.getIds('ActionPlan}', $viewValue)" typeahead-loading="loadingActionPlanIds" class="form-control" typeahead-wait-ms="500">
        <i ng-show="loadingActionPlanIds" class="glyphicon glyphicon-refresh"></i>
      </div>
      <div class="btn-group">
        <a class="btn btn-primary btn-sm" href="#/actionplan/{{resCtrl.res.ActionPlanId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <a class="btn btn-primary btn-sm" href="#/actionplan"><span class="glyphicon glyphicon-star"></span> New</a>
      </div>
    </div>
    <div class="form-group">
      <label for="actrid" class="col-sm-2 control-label">Action Triggers Id</label>
      <div class="col-sm-2" ng-controller="TypeaheadCtrl as tyaCtrl">
        <input id="actrid" type="text" ng-model="resCtrl.res.ActionTriggersId" typeahead="id for id in tyaCtrl.getIds('ActionTrigger', $viewValue)" typeahead-loading="loadingActionTriggerIds" class="form-control" typeahead-wait-ms="500">
        <i ng-show="loadingActionTriggerIds" class="glyphicon glyphicon-refresh"></i>
      </div>
      <div class="btn-group">
        <a class="btn btn-primary btn-sm" href="#/actiontrigger/{{resCtrl.res.ActionTriggersId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <a class="btn btn-primary btn-sm" href="#/actiontrigger"><span class="glyphicon glyphicon-star"></span> New</a>
      </div>
    </div>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
      <back></back>
    </div>
  </form>
</div>
