<div id="detail-view">
  <h4>Account Actions {{resCtrl.resId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="Direction" class="col-sm-2 control-label">Direction</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="Direction" placeholder="Short description" ng-model="resCtrl.res.Direction"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="Tenant" class="col-sm-2 control-label">Tenant</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="Tenant" ng-model="resCtrl.res.Tenant"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="Account" class="col-sm-2 control-label">Account</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="Account" ng-model="resCtrl.res.Account"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="actionplan" class="col-sm-2 control-label">Action Plan Id</label>
      <div class="col-sm-2">
        <select id="actionplan" class="form-control" ng-model="resCtrl.res.ActionPlanId" ng-options="id for id in resCtrl.actPlans"></select>
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <a class="btn btn-primary btn-sm col-sm-2" href="#/action">New Action Plan</a>
    </div>
    <div class="form-group">
      <label for="actrid" class="col-sm-2 control-label">Action Triggers Id</label>
      <div class="col-sm-2">
        <select id="actrid" class="form-control" ng-model="resCtrl.res.ActionTriggersId" ng-options="id for id in resCtrl.actTriggers"></select>
      </div>
      <a class="btn btn-primary btn-sm col-sm-2" href="#/timing">New Timing</a>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="resCtrl.saveResource()">Save</button>
    </div>
  </form>
  <p class="label label-info" ng-show="resCtrl.result">Operation result:{{resCtrl.result}}</p>
  <back></back>
</div>
