<div id="detail-view">
  <div ng-hide="resCtrl.showId" class="btn-group pull-right" ng-controller="ResActCtrl as actCtrl" ng-init="actCtrl.init('ActionTrigger', resCtrl.resId)">
    <a ng-show="actCtrl.hasActivate()" class="btn btn-primary" href ng-click="actCtrl.activate()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
    <a class="btn btn-danger" href ng-click="actCtrl.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
  </div>
  <h4>Action Trigger {{resCtrl.res.ActionTriggersId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="res_id" class="col-sm-2 control-label">ActionTriggersId</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="res_id" ng-model="resCtrl.res.ActionTriggersId"/>
        </div>
      </div>
    </div>
    <section  ng-controller="PanelCtrl as panelCtrl">
      <ul class="nav nav-tabs marginBottom">
        <li ng-class="{'active':panelCtrl.isActive($index)}" ng-repeat="rate_slot in resCtrl.res.ActionTriggers">
          <a href ng-click="panelCtrl.select($index)">
            <button type="button" ng-if="$index > 0" ng-click="panelCtrl.remove(resCtrl.res.ActionTriggers, $index, $event)" class="close closeTab">×</button>
            Action {{$index}}
          </a>
        </li>
        <li>
          <a href ng-click="panelCtrl.add(resCtrl.res.ActionTriggers)">+</a>
        </li>
      </ul>
      <div class="form-group">
        <label for="balancetype" class="col-sm-2 control-label">BalanceType</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="balancetype" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].BalanceType"/>
        </div>
      </div>
      <div class="form-group">
        <label for="balanceratingsubj" class="col-sm-2 control-label">BalanceRatingSubject</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="balanceratingsubj" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].BalanceRatingSubject"/>
        </div>
      </div>
      <div class="form-group">
        <label for="balancecategory" class="col-sm-2 control-label">BalanceCategory</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="balancecategory" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].BalanceCategory"/>
        </div>
      </div>
      <div class="form-group">
        <label for="balancesg" class="col-sm-2 control-label">BalanceSharedGroup</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="balancesg" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].BalanceSharedGroup"/>
        </div>
      </div>
      <div class="form-group">
        <label for="balanceweight" class="col-sm-2 control-label">BalanceWeight</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="balanceweight" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].BalanceWeight"/>
        </div>
      </div>
      <div class="form-group">
        <label for="destid" class="col-sm-2 control-label">Destination Id</label>
        <div class="col-sm-2">
          <select id="destid" class="form-control" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].DestinationId" ng-options="dId for dId in resCtrl.destIds"></select>
        </div>
        <div class="btn-group">
          <a ng-hide="resCtrl.res.ActionTriggers[panelCtrl.index].DestinationId=='*any'" class="btn btn-primary btn-sm" href="#/destination/{{resCtrl.res.ActionTriggers[panelCtrl.index].DestinationId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a class="btn btn-primary btn-sm" href="#/destination"><span class="glyphicon glyphicon-star"></span> New</a>
        </div>
      </div>
      <div class="form-group">
        <label for="direction" class="col-sm-2 control-label">Direction</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="direction" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].Direction"/>
        </div>
      </div>
      <div class="form-group">
        <label for="minquitems" class="col-sm-2 control-label">MinQueuedItems</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="minquitems" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].MinQueuedItems"/>
        </div>
      </div>
      <div class="form-group">
        <label for="minsleep" class="col-sm-2 control-label">MinSleep</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="minsleep" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].MinSleep"/>
        </div>
      </div>
      <div class="form-group">
        <label for="recurrent" class="col-sm-2 control-label">Recurrent</label>
        <div class="col-sm-2">
          <input type="checkbox" class="form-control" id="recurrent" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].Recurrent"/>
        </div>
      </div>
      <div class="form-group">
        <label for="actionId" class="col-sm-2 control-label">Actions Id</label>
        <div class="col-sm-2">
          <select id="actionId" class="form-control" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].ActionsId" ng-options="drId for drId in resCtrl.actIds"></select>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary btn-sm" href="#/action/{{resCtrl.res.ActionTriggers[panelCtrl.index].ActionsId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a class="btn btn-primary btn-sm" href="#/action"><span class="glyphicon glyphicon-star"></span> New</a>
        </div>
      </div>
      <div class="form-group">
        <label for="threshtype" class="col-sm-2 control-label">ThresholdType</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="threshtype" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].ThresholdType"/>
        </div>
      </div>
      <div class="form-group">
        <label for="threshvalue" class="col-sm-2 control-label">ThresholdValue</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="threshvalue" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].ThresholdValue"/>
        </div>
      </div>
      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Weight</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="weight" ng-model="resCtrl.res.ActionTriggers[panelCtrl.index].Weight"/>
        </div>
      </div>
    </section>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
      <back></back>
    </div>
  </form>
</div>
