<div id="detail-view">
  <h4>Action Plan {{resCtrl.res.ActionPlanId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="res_id" class="col-sm-2 control-label">ActionPlanId</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="res_id" ng-model="resCtrl.res.ActionPlanId"/>
        </div>
      </div>
    </div>
    <section ng-controller="PanelCtrl as panelCtrl">
      <ul class="nav nav-tabs marginBottom">
        <li ng-class="{'active':panelCtrl.isActive($index)}" ng-repeat="rate_slot in resCtrl.res.ActionPlan">
          <a href ng-click="panelCtrl.select($index)">
            <button ng-if="$index > 0" ng-click="panelCtrl.remove(resCtrl.res.ActionPlan, $index, $event)" class="close closeTab" type="button" >×</button>
            ActionPlan {{$index}}
          </a>
        </li>
        <li>
          <a href ng-click="panelCtrl.add(resCtrl.res.ActionPlan)">+</a>
        </li>
      </ul>
      <div class="form-group">
        <label for="actionId" class="col-sm-2 control-label">Action Id</label>
        <div class="col-sm-2">
          <select id="actionId" class="form-control" ng-model="resCtrl.res.ActionPlan[panelCtrl.index].ActionsId" ng-options="drId for drId in resCtrl.actIds"></select>
        </div>
        <a class="btn btn-primary btn-sm col-sm-2" href="#/action">New Action</a>
      </div>
      <div class="form-group">
        <label for="tmid" class="col-sm-2 control-label">Timing Id</label>
        <div class="col-sm-2">
          <select id="tmid" class="form-control" ng-model="resCtrl.res.ActionPlan[panelCtrl.index].TimingId" ng-options="tmId for tmId in resCtrl.tmIds"></select>
        </div>
        <a class="btn btn-primary btn-sm col-sm-2" href="#/timing">New Timing</a>
      </div>
      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Weight</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="weight" ng-model="resCtrl.res.ActionPlan[panelCtrl.index].Weight"/>
        </div>
      </div>
    </section>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
      <back></back>
    </div>
  </form>
</div>
