<div id="detail-view">
  <div class="resource-button btn-group pull-right" ng-controller="ResActCtrl as actCtrl" ng-init="actCtrl.init('Destination', resCtrl.resId)">
    <a ng-show="actCtrl.hasActivate()" class="btn btn-primary" href ng-click="actCtrl.activate()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
    <a class="btn btn-danger" href ng-click="actCtrl.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
  </div>
  <h4>Destination {{resCtrl.res.DestinationId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="res_id" class="col-sm-2 control-label">DestinationId</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="res_id" ng-model="resCtrl.res.DestinationId"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="prefixes" class="col-sm-2 control-label">Prefixes</label>
      <div class="col-sm-2">
        <textarea class="form-control" id="prefixes" ng-model="resCtrl.res.Prefixes"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="btn-group">
        <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
        <back></back>
      </div>
    </div>
  </form>
</div>
