<h3>Export CDRs</h3>
<form role="form" method="POST" action="/export/">
  <div class="form-group">
    <label for="CdrFormat">Cdr Format</label>
    <input type="text" class="form-control" name="CdrFormat" id="CdrFormat">
  </div>
  <div class="form-group">
    <label for="FieldSeparator">Field Separator</label>
    <input type="text" class="form-control" name="FieldSeparator" id="FieldSeparator">
  </div>
  <div class="form-group">
    <label for="ExportId">Export Id</label>
    <input type="text" class="form-control" name="ExportId" id="ExportId">
  </div>
  <div class="form-group">
    <label for="ExportDir">Export Dir</label>
    <input type="text" class="form-control" name="ExportDir" id="ExportDir">
  </div>
  <div class="form-group">
    <label for="ExportFileName">Export File Name</label>
    <input type="text" class="form-control" name="ExportFileName" id="ExportFileName">
  </div>
  <div class="form-group">
    <label for="ExportTemplate">Export Template</label>
    <input type="text" class="form-control" name="ExportTemplate" id="ExportTemplate">
  </div>
  <div class="form-group">
    <label for="DataUsageMultiplyFactor">Data Usage Multiply Factor</label>
    <input type="number" class="form-control" name="DataUsageMultiplyFactor" id="DataUsageMultiplyFactor" value="0">
  </div>
  <div class="form-group">
    <label for="CostMultiplyFactor">Cost Multiply Factor</label>
    <input type="number" class="form-control" name="CostMultiplyFactor" id="CostMultiplyFactor" value="0">
  </div>
  <div class="form-group">
    <label for="CostShiftDigits">Cost Shift Digits</label>
    <input type="number" class="form-control" name="CostShiftDigits" id="CostShiftDigits" value="0">
  </div>
  <div class="form-group">
    <label for="RoundDecimals">round Decimals</label>
    <input type="number" class="form-control" name="RoundDecimals" id="RoundDecimals" value="0">
  </div>
  <div class="form-group">
    <label for="MaskDestinationId">Mask Destination Id</label>
    <input type="text" class="form-control" name="MaskDestinationId" id="MaskDestinationId">
  </div>
  <div class="form-group">
    <label for="MaskLength">Mask Length</label>
    <input type="number" class="form-control" name="MaskLength" id="MaskLength" value="0">
  </div>
  <div class="form-group">
    <label for="CgrIds">CgrIds</label>
    <input type="text" class="form-control" name="CgrIds" id="CgrIds">
  </div>
  <div class="form-group">
    <label for="MediationRunIds">Mediation Run Ids</label>
    <input type="text" class="form-control" name="MediationRunIds" id="MediationRunIds">
  </div>
  <div class="form-group">
    <label for="TORs">TORs</label>
    <input type="text" class="form-control" name="TORs" id="TORs">
  </div>
  <div class="form-group">
    <label for="CdrHosts">Cdr Hosts</label>
    <input type="text" class="form-control" name="CdrHosts" id="CdrHosts">
  </div>
  <div class="form-group">
    <label for="CdrSources">Cdr Sources</label>
    <input type="text" class="form-control" name="CdrSources" id="CdrSources">
  </div>
  <div class="form-group">
    <label for="ReqTypes">ReqTypes</label>
    <input type="text" class="form-control" name="ReqTypes" id="ReqTypes">
  </div>
  <div class="form-group">
    <label for="Directions">Directions</label>
    <input type="text" class="form-control" name="Directions" id="Directions">
  </div>
  <div class="form-group">
    <label for="Tenants">Tenants</label>
    <input type="text" class="form-control" name="Tenants" id="Tenants">
  </div>
  <div class="form-group">
    <label for="Categories">Categories</label>
    <input type="text" class="form-control" name="Categories" id="Categories">
  </div>
  <div class="form-group">
    <label for="Accounts">Accounts</label>
    <input type="text" class="form-control" name="Accounts" id="Accounts">
  </div>
  <div class="form-group">
    <label for="Subjects">Subjects</label>
    <input type="text" class="form-control" name="Subjects" id="Subjects">
  </div>
  <div class="form-group">
    <label for="DestinationPrefixes">Destination Prefixes</label>
    <input type="text" class="form-control" name="DestinationPrefixes" id="DestinationPrefixes">
  </div>
  <div class="form-group">
    <label for="RatedAccounts">Rated Accounts</label>
    <input type="text" class="form-control" name="RatedAccounts" id="RatedAccounts">
  </div>
  <div class="form-group">
    <label for="RatedSubjects">Rated Subjects</label>
    <input type="text" class="form-control" name="RatedSubjects" id="RatedSubjects">
  </div>
  <div class="form-group">
    <label for="OrderIdStart">Order Id Start</label>
    <input type="number" class="form-control" name="OrderIdStart" id="OrderIdStart" value="0">
  </div>
  <div class="form-group">
    <label for="OrderIdEnd">Order Id End</label>
    <input type="number" class="form-control" name="OrderIdEnd" id="OrderIdEnd" value="0">
  </div>
  <div class="form-group">
    <label for="TimeStart">Time Start</label>
    <input type="text" class="form-control" name="TimeStart" id="TimeStart">
  </div>
  <div class="form-group">
    <label for="TimeEnd">Time End</label>
    <input type="text" class="form-control" name="TimeEnd" id="TimeEnd">
  </div>
  <div class="form-group">
    <label for="SkipErrors">Skip Errors</label>
    <input type="checkbox" class="form-control" name="SkipErrors" id="SkipErrors">
  </div>
  <div class="form-group">
    <label for="SkipRated">Skip Rated</label>
    <input type="checkbox" class="form-control" name="SkipRated" id="SkipRated">
  </div>
  <div class="form-group">
    <label for="SuppressCgrIds">Suppress Cgr Ids</label>
    <input type="checkbox" class="form-control" name="SuppressCgrIds" id="SuppressCgrIds">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

