<breadcrumbs label="resCtrl.resId"></breadcrumbs>
<div id="detail-view">
  <div ng-hide="resCtrl.showId" class="btn-group pull-right" ng-controller="ResActCtrl as actCtrl" ng-init="actCtrl.init('Rate', resCtrl.resId)">
    <a ng-show="actCtrl.hasActivate()" class="btn btn-primary" href ng-click="actCtrl.activate()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
    <a class="btn btn-danger" href ng-click="actCtrl.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
  </div>
  <h4>Rate {{resCtrl.res.RateId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="res_id" class="col-sm-2 control-label">RateId</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="res_id" ng-model="resCtrl.res.RateId"/>
        </div>
      </div>
    </div>
    <section  ng-controller="PanelCtrl as panelCtrl">
      <ul class="nav nav-tabs marginBottom">
        <li ng-class="{'active':panelCtrl.isActive($index)}" ng-repeat="rate_slot in resCtrl.res.RateSlots">
          <a href ng-click="panelCtrl.select($index)">
            <button type="button" ng-if="$index > 0" ng-click="panelCtrl.remove(resCtrl.res.RateSlots, $index, $event)" class="close closeTab">×</button>
            RateSlot {{$index}}
          </a>
        </li>
        <li>
          <a href ng-click="panelCtrl.add(resCtrl.res.RateSlots)">+</a>
        </li>
      </ul>

      <div class="form-group">
        <label for="connectfee" class="col-sm-2 control-label">Connect Fee</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="connectfee" ng-model="resCtrl.res.RateSlots[panelCtrl.index].ConnectFee"/>
        </div>
      </div>
      <div class="form-group">
        <label for="rateunit" class="col-sm-2 control-label">Rate Unit</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="rateunit" ng-model="resCtrl.res.RateSlots[panelCtrl.index].RateUnit"/>
        </div>
      </div>
      <div class="form-group">
        <label for="rateincrement" class="col-sm-2 control-label">Rate Increment</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="rateincrement" ng-model="resCtrl.res.RateSlots[panelCtrl.index].RateIncrement"/>
        </div>
      </div>
      <div class="form-group">
        <label for="groupintervalstart" class="col-sm-2 control-label">Group Interval Start</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="groupintervalstart" ng-model="resCtrl.res.RateSlots[panelCtrl.index].GroupIntervalStart"/>
        </div>
      </div>
      <div class="form-group">
        <label for="rate" class="col-sm-2 control-label">Rate</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="rate" ng-model="resCtrl.res.RateSlots[panelCtrl.index].Rate"/>
        </div>
      </div>
    </section>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
      <back></back>
    </div>
  </form>
</div>
