<div id="detail-view">
  <div ng-hide="resCtrl.showId" class="btn-group pull-right" ng-controller="ResActCtrl as actCtrl" ng-init="actCtrl.init('RatingPlan', resCtrl.resId)">
    <a ng-show="actCtrl.hasActivate()" class="btn btn-primary" href ng-click="actCtrl.activate()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
    <a class="btn btn-danger" href ng-click="actCtrl.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
  </div>
  <h4>Rating Plan {{resCtrl.res.RatingPlanId}}</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div ng-show="resCtrl.showId">
        <label for="res_id" class="col-sm-2 control-label">RatingPlanId</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="res_id" ng-model="resCtrl.res.RatingPlanId"/>
        </div>
      </div>
    </div>
    <section ng-controller="PanelCtrl as panelCtrl">
      <ul class="nav nav-tabs marginBottom">
        <li ng-class="{'active':panelCtrl.isActive($index)}" ng-repeat="rate_slot in resCtrl.res.RatingPlanBindings">
          <a href ng-click="panelCtrl.select($index)">
            <button ng-if="$index > 0" ng-click="panelCtrl.remove(resCtrl.res.RatingPlanBindings, $index, $event)" class="close closeTab" type="button" >×</button>
            RP Binding {{$index}}
          </a>
        </li>
        <li>
          <a href ng-click="panelCtrl.add(resCtrl.res.RatingPlanBindings)">+</a>
        </li>
      </ul>
      <div class="form-group">
        <label for="destRateId" class="col-sm-2 control-label">DestinationRate Id</label>
        <div class="col-sm-2" ng-controller="TypeaheadCtrl as tyaCtrl">
          <input id="destRateId" type="text" ng-model="resCtrl.res.RatingPlanBindings[panelCtrl.index].DestinationRatesId" typeahead="id for id in tyaCtrl.getIds('DestinationRate', $viewValue)" typeahead-loading="loadingDestinationRateIds" class="form-control" typeahead-wait-ms="500">
          <i ng-show="loadingDestinationRateIds" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary btn-sm" href="#/destination/{{resCtrl.res.RatingPlanBindings[panelCtrl.index].DestinationRatesId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a class="btn btn-primary btn-sm" href="#/destination"><span class="glyphicon glyphicon-star"></span> New</a>
        </div>
      </div>
      <div class="form-group">
        <label for="tmid" class="col-sm-2 control-label">Timing Id</label>
        <div class="col-sm-2" ng-controller="TypeaheadCtrl as tyaCtrl">
          <input id="tmid" type="text" ng-model="resCtrl.res.RatingPlanBindings[panelCtrl.index].TimingId" typeahead="id for id in tyaCtrl.getIds('Timing', $viewValue)" typeahead-loading="loadingTimingIds" class="form-control" typeahead-wait-ms="500">
          <i ng-show="loadingTimingIds" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary btn-sm" href="#/timing/{{resCtrl.res.RatingPlanBindings[panelCtrl.index].TimingId}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a class="btn btn-primary btn-sm" href="#/timing"><span class="glyphicon glyphicon-star"></span> New</a>
        </div>
      </div>
      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Weight</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="weight" ng-model="resCtrl.res.RatingPlanBindings[panelCtrl.index].Weight"/>
        </div>
      </div>
    </section>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="resCtrl.saveResource()"><span class="glyphicon glyphicon-ok"></span> Save</a>
      <back></back>
    </div>
  </form>
</div>
