<div class="col-md-9">
  <ol class="ab-nav breadcrumb">
    <li ng-repeat="breadcrumb in resCtrl.breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
      <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
      <span ng-if="$last" ng-bind="breadcrumb.label"></span>
    </li>
  </ol>

  <h3>{{resCtrl.res}}</h3>
  <form class="form-inline" role="form" ng-submit="resCtrl.getPage()">
    <div id="main-search" class="input-append">
      <input type="search" class="form-control" placeholder="Search resource" ng-model="resCtrl.searchTerm"/>
      <a href class="btn btn-default " ng-click="resCtrl.getPage()"><span class="glyphicon glyphicon-search"></span> Search</a>
      <a class="btn btn-primary" href="#/{{resCtrl.res|lowercase}}">New {{resCtrl.res}}</a>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-4" ng-repeat="rId in filteredRes = (resCtrl.resources|filter:resCtrl.searchTerm)">
      <div class="resource-button btn-group">
         <a class="btn btn-info btn-xs" href ng-click="resCtrl.toggleSelectedState(rId)"><span class="glyphicon" ng-class="resCtrl.selectedResources.indexOf(rId) > -1 ? 'glyphicon-check' : 'glyphicon-unchecked' "></span></a>
        <a class="btn btn-default btn-xs" href="#/{{resCtrl.res|lowercase}}/{{rId}}" title="{{rId}}">{{rId|limitTo:27}}</a>
      </div>
    </div>
  </div>
  <h4 class="text-muted" ng-hide="filteredRes.length || !resCtrl.resources.length">Hit search button for getting more results from server!</h4>
  <h4 class="text-muted" ng-hide="resCtrl.resources.length">No results matching searched term!</h4>
  <div class="row">
    <ul class="pager">
      <li><a ng-hide="resCtrl.page<=0" ng-click="resCtrl.getPage(-1)" href>Previous</a></li>
      <li><a ng-hide="(resCtrl.page<=0) && (resCtrl.resources.length < resCtrl.itemsPerPage)" href="#/resource/{{resCtrl.res}}/{{resCtrl.page+1}}">{{resCtrl.page+1}}</a></li>
      <!-- li><input type="number" class="input-sm" placeholder="Items per page" ng-model="resCtrl.itemsPerPage"/></li-->
      <li><a ng-hide="resCtrl.resources.length < resCtrl.itemsPerPage" ng-click="resCtrl.getPage(1)" href>Next</a></li>
    </ul>
  </div>
</div>
<div class="col-md-3"">
  <div class="panel panel-info" ng-show="resCtrl.selectedResources.length">
    <div class="panel-heading">Selected resources</div>
    <div class="panel-body">
      <div class="resource-button btn-group">
        <a ng-show="resCtrl.hasActivate()" class="btn btn-primary btn-sm" href ng-click="resCtrl.activateSelected()"><span class="glyphicon glyphicon-plane"></span> Activate</a>
        <a class="btn btn-danger btn-sm" href ng-click="resCtrl.deleteSelected()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
      </div>
    </div>

    <table class="table table-condensed table-striped">
      <tr ng-repeat="rId in resCtrl.selectedResources"><td>{{rId}}</td></tr>
    </table>
  </div>
</div>
